export(compute_beta_stats)
export(compute_sales_tax)
export(eval_string)
export(exit)
export(knit_and_compile)
export(lg)
export(load_packages_robustly)
export(mkdir)
export(read.dta.gz)
export(sq_matrix)
export(to_numeric)
export(write.dta.gz)
